*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/libs/v1.6/gameiapsdk-huawei-release-v1.6.aar
app/libs/v1.6/gameiapsdk-oppo-release-v1.6.aar
app/libs/v1.6/gameiapsdk-xiaomi-release-v1.6.aar
